{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            {{ render(controller('EventRequestEventBundle:Event:show', {
                'event': event
            })) }}
        </div>
        <div class="col-md-5">
            {% block status %}
                status: {{ ('event.field.status_list.' ~ event.status)|trans }}
                expired at {{ event.date|date('d.m.Y') }}
            {% endblock status %}
            {% block control %}{% endblock control %}
        </div>
    </div>
{% endblock content %}


