{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ render(controller('EventRequestEventBundle:Event:show', {
                'event': event
            })) }}
        </div>
        <div class="col-md-4">
            {% if form is defined %}
                {{ form(form) }}
            {% endif %}

            {% for offer in offers %}
                <div>{{ offer.user.username }} offer {{ offer.price }}</div>
            {% else %}
                no offers!!
            {% endfor %}
        </div>
    </div>
{% endblock content %}


