{% extends 'EventRequestOfferBundle:Offer:base.html.twig' %}

{% block control %}

    {% block control_selected_offer %}
        selected!!
        <div>{{ offer.user.username }} offer {{ offer.price }} at {{ offer.createdAt|date('m.d.Y') }}</div>
        {% if offer.user == user and expired %}
            I can close!!
        {% endif %}
        {% if event.user == user and expired %}
            Manager can close!!
        {% endif %}
    {% endblock control_selected_offer %}

{% endblock control %}
